h1(style="margin: 100px;font-size: 50px") Welcome to this nifty Koa server
h2(style="margin: 0 100px;font-size: 40px") Try these routes:
ul(style="margin: 0 100px;font-size: 30px; font-spacing: 5px")
    li / (You're already here!')
    li /name/[STRING] - returns "Hello [STRING]"
    li /user/[INT]: 1 , 2, or 3 - returns a user.
    li /[STRING]/[INT] - prints [STRING], [INT] times.
    li /math/[INT]/[STRING]: + , - , * , or div /[INT] - math problem.  Ex: /math/2/+/2 retuns 4.
    li /story - reads and displays a file.
